<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>ahmed</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>createUser</servlet-name>
    <servlet-class>Servlet.CreateUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>createUser</servlet-name>
    <url-pattern>/user/create</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LoginUser</servlet-name>
    <servlet-class>Servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginUser</servlet-name>
    <url-pattern>/user/login</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LogoutUser</servlet-name>
    <servlet-class>Servlet.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutUser</servlet-name>
    <url-pattern>/user/logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ListeUser</servlet-name>
    <servlet-class>Servlet.ListeUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListeUser</servlet-name>
    <url-pattern>/user/list</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AddFriend</servlet-name>
    <servlet-class>Servlet.AddFriendServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddFriend</servlet-name>
    <url-pattern>/friend/add</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>RemoveFriend</servlet-name>
    <servlet-class>Servlet.RemoveFriendServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RemoveFriend</servlet-name>
    <url-pattern>/friend/remove</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AddComment</servlet-name>
    <servlet-class>Servlet.AddCommentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddComment</servlet-name>
    <url-pattern>/comment/add</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SearchFriend</servlet-name>
    <servlet-class>Servlet.SearchFriendServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchFriend</servlet-name>
    <url-pattern>/friend/search</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ListFriend</servlet-name>
    <servlet-class>Servlet.ListFriendServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListFriend</servlet-name>
    <url-pattern>/friend/list</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ListComment</servlet-name>
    <servlet-class>Servlet.ListCommentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListComment</servlet-name>
    <url-pattern>/comment/list</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GetCommentFriend</servlet-name>
    <servlet-class>Servlet.GetCommentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetCommentFriend</servlet-name>
    <url-pattern>/comment/friend</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GetCommentUser</servlet-name>
    <servlet-class>Servlet.GetCommentUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetCommentUser</servlet-name>
    <url-pattern>/comment/user</url-pattern>
  </servlet-mapping>
</web-app>